// https://ant.design/docs/react/customize-theme#Ant-Design-Less-variables
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@font-family: "'Lato', sans-serif";
@layout-body-background: #fbfbfb;
// @layout-header-background: #092292;
@layout-header-background: inherit;
// @menu-dark-item-active-bg: #05186F;
@menu-dark-item-active-bg: #4E1E8A;
@text-color: #0C0C0D;
// @heading-color: #3F434A;
@heading-color: #0C0C0D;
// @primary-color: #8E2DE2;
@primary-color: #7A18F6;

@heading-1-size: 20px;
@heading-2-size: 20px;
@typography-title-margin-bottom: unset;
