/*
You do not need to worry about .error {} colliding with any other `.css` or
`.module.css` files!
*/
.logo {
  margin: 16px 71px 40px 71px;
  font-family: 'Avenir Next';
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  color: #FF8080;
}

// .site-layout .site-layout-background {
//   background: #fff;
// }

// [data-theme="dark"] .site-layout .site-layout-background {
//   background: #141414;
// }

/* .ant-layout-sider {
  background-color: red;
} */